/* Container */
.card__container{
    background-color: #322525;
    width: 550px;
    max-width: 150px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 5% auto;
    margin: 50px 0px 0px 50px;
}

.card__side__strip{
    width: 100%;
    max-width: 20px;
    height: 100%;
}

.card__application__container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px 30px 15px;
    position: relative;
}

.card__category{
    position: absolute;
    top: 5px;
    right: 125px;
    color: #756666;
    font-size: 4.5rem;
    opacity: 0.7;
}

.card__company__position{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.company{
    position: relative;
    width: fit-content;
}

.company > h3{
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}

.card__status{
    position: absolute;
    top: -5px;
    right: -78px;
}

.card__status h4{
    font-weight: 300;
}

.card__position{
    color: #C4C4C4;
    margin: 0px 0px 25px 0px;
    font-weight: 300;
    font-size: 1.2rem;
}

.card__application__info{
    width: 100%;
    color: white;
}

.application__open > h3, .application__closed > h3{
    font-weight: 300;
}

.application__stipend{
    width: 100%;
    color: white;
}

.application__stipend > h3{
    width: 100%;
    color: white;
    font-weight: 300;
    margin: 15px 0px 0px 0px;
}

.application__required__materials{
    margin: 15px 0px 0px 0px;
    color: white
}

.materials{
    list-style-type: none;
    margin-left: 15px;
    margin-top: 5px;
}


/* Card Color Styles */
.pending{
    background-color: #FE985C;
}

.pending-text{
    color: #FE985C;
}

.admitted{
    background-color: #43C48C;
}
.admitted-text{
    color:#43C48C;
}
.rejected{
    background-color:#DF779A;
}
.rejected-text{
    color:#DF779A;
}
